body {
    overflow: overlay;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    background: #181818;
    background: linear-gradient(0deg, #181818 25%, #2a2a2a 100%);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    height: 50px;
    margin-bottom: 5px;
    width: 100%;
  }

  .list-item a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  .list-item :hover{
    cursor: pointer;
    background-color: #353535;
    border-radius: 6px;
  }

  .list-item .item-content {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .item-description div:nth-child(2) {
    font-size: 10px;
  }

  .list-item .item-text {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .list-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 6px;
  }
  /* Styles for WebKit-based browsers (Chrome, Safari, Opera) */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  